%div{:id => "#{dom_id booking}"}
  %p
    %strong Flight_id:
    = booking.flightID
  %p
    %strong Name:
    = booking.name
  %p
    %strong Email:
    = booking.email
  %p
    %strong enter_how_many_passengers:
    = booking.enter_how_many_passengers
