= form.label :flight_id, "Flight ID:", style: "display: block"
= form.number_field :flight_id
%br/
%br/
= form.label :passenger_name, "Name:", style: "display: block"
= form.text_field :passenger_name
%br/
%br/
= form.label :passenger_email, "Email", style: "display: block"
= form.text_field :passenger_email
%br/
%br/
= form.label :no_passenger, "Number of Passengers:", style: "display: block"
= form.number_field :no_passenger
%br/
%br/
= form.submit "Book"
%br/
%br/
